<header id="cityList">
  <div id="listTile">
  Enter city, zip code, or airport location.
  </div>
  {{input id="listInput" type="text" value=typeCity}}
  <button id="cancel" {{action 'back'}}>Cancel</button>
</header>
<ul class="listBody">
  {{#if cityList}}
    {{#each city in cityList}}
      <li class="subList" {{action 'addCity' city.id}}><div>{{city.formatted_address}}</div></li>
    {{/each}}
  {{/if}}
</ul>