{{outlet}}
{{!-- <nav>
  <ul>
    <a class="attribution" href="http://forecast.io/" target="_blank">Powered by Forecast</a>
    {{log useUSUnits}}
    <div {{bind-attr class=":celsius-or-fahrenheit useUSUnits:use-fahrenheit:use-celsius"}}>
      <a {{action 'toggleUnits'}}>
        <span class="celsius">˚C</span>
        ⁄
        <span class="fahrenheit">˚F</span>
      </a>
    </div>
  </ul>
</nav> --}}
